/*
	Resets
	------	
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, textarea, select {
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	font: inherit;
	padding: .5em;
	width: 100%;
	-webkit-appearance: none;
}

input[type="button"], 
input[type="submit"], 
input[type="reset"], 
input[type="file"] {
	background-color: #D67200;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: .5em;
	font-weight: bold;
	text-transform: lowercase;
}

input[type="button"]:active, 
input[type="button"]:focus, 
input[type="button"]:hover, 
input[type="submit"]:active, 
input[type="submit"]:focus, 
input[type="submit"]:hover,
input[type="reset"]:active, 
input[type="reset"]:focus, 
input[type="reset"]:hover,
input[type="file"]:active, 
input[type="file"]:focus, 
input[type="file"]:hover {
	background-color: #FF8800
}

::selection {
	background: #BF372A;
	color: #F26835;
}

/* 
	Typography
	----------
*/

body {
	font-family: "Century Gothic", AppleGothic, Arial, sans-serif;
	font-size: 112.5%;
	line-height: 1.25;
	transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-moz-transition:all .2s linear; 
	-webkit-transition:all .2s linear;
}

h1, h2, h3,
h4, h5, h6 {
	font-weight: normal;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1.15em;
}

h4, h5, h6 {
	font-size: 1.1em;
}

p {
	line-height: 1.25em;
	margin-bottom: 1em;
}

/*
	Content styles
	--------------
*/

html {
}

body {
	background: #ffffff;
	color: #57585C;
	padding: 1em;
}

a {
	color: #7C7E83;
	text-decoration: none;
}

a:active,
a:focus,
a:hover
 {
	color: #B0B2B5;
}

aside,
nav, 
footer {
	margin-bottom: 1em;
}

article {
	margin: 5em inherit;
}

article ol,
article ul {
	padding-left: 2em;
}

article header time {
	font-size: .5em;
}

article header dt,
article header dd,
article header li {
	float: left;
	list-style-type: none;
	margin-right: .5em;
}

article header dt:after {
	content: ":";
}

article header li:after {
	content: ",";
}

article header dt {
	text-transform: lowercase;
}

/* ensure spacing in article elements */
article > * {
	clear: both;
	margin: 0 0 1em;
}

/* don't conflict with overall article spacing */
article img {
	max-width: 100%;
}

.global-header {
	background: #000000;
	margin: -1em -1em .5em;
	padding: 1em;
}

.global-header  a {
	color: white;
	font-weight: bold;
	background-image: url("images/logo.png");
	background-repeat: no-repeat;
	display: block;
	height: 30px;
	text-indent: -9999px;
	width: 160px;
}

/* Header search bar */
.global-header #searchform {
	margin-bottom: 1em;
	position: relative;
}

.global-header #searchform label {
	display: none;
}

.global-header #searchform input {
	display: inline-block;
	height: 30px;
	padding: 0 .5em;
	vertical-align: top;
}

.global-header #searchform #searchsubmit {
	position: absolute;
	right: 0;
	top: 0;
	width: 5em;
}

.global-footer {
	border-top: 1px solid rgba(128, 128, 128,.25);
	clear: both;
	margin-top: 3em;
	padding-top: 1em;
}

.global-footer li {
	display: block;
	list-style: none;
}

.global-footer a {
	display: block;
	margin: 0 0 1em;
}

.global-footer a:hover,
.global-footer a:active,
.global-footer a:focus{
}

.content {
	margin:auto;
	max-width:40em;
}

/* Pagination nav */
.wp-pagenavi > * {
	display: block;
	font-size: 1.1em;
	margin: .25em;
	padding: .25em;
	text-align: center;
}

.wp-pagenavi a {
	border: 1px solid #3D3E40;
	border-radius: 2px;
}

/* Custom filters */

.category-rss-feed header {
	display: block;
}

.category-digg header h1:after {
	content: " via Digg";
}

.category-dribbble header h1:after {
	content: " via Dribbble";
}

.category-foursquare header h1:after {
	content: " via Foursquare";
}

.category-goodreads header h1:after {
	content: " via Goodreads";
}

.category-last-fm header h1:after {
	content: " via Last.fm";
}

.category-pandora header h1:after {
	content: " via Pandora";
}

.category-quora header h1:after {
	content: " via Quora";
}

.category-tumblr header h1:after {
	content: " via Tumblr";
}

.category-twitter header h1:after {
	content: " via Twitter";
}

.category-xanga header h1:after {
	content: " via Xanga";
}

.category-yelp header h1:after {
	content: " via Yelp";
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
	.global-header #searchform {
		float: right;
	}

	.linkslist {
		column-count: 3;
		column-gap: 1em;
		-moz-column-count: 3;
		-moz-column-gap: 18px;
		-webkit-column-count: 3;
		-webkit-column-gap: 1em;
	}
}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
	body {
	    font-size:125%;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.25em;
	}

	h4, h5, h6 {
		font-size: 1.1em;
	}

	.wp-pagenavi > * {
		display: inline-block;
	}
  
	.linkslist {
		column-count: 5;
		column-gap: 1em;
		-moz-column-count: 5;
		-moz-column-gap: 18px;
		-webkit-column-count: 5;
		-webkit-column-gap: 1em;
	}
}
